<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

</head>

<body>
        <nav class="navigation">
            <div class="logo">
                <img src="~/Content/The_Gathering_F2_Full_Color_White.png" width="150px" height="90px" />
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li>
                    <a href="#">About Us</a> 
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="#">Mission Statement</a></li>
                            <li><a href="#">FAQS</a></li>
                            <li><a href="#">Community Partners</a></li>
                            <li><a href="#">Donors</a></li>
                            <li><a href="#">Board / Staff</a></li>
                            <li><a href="#">Financial Information</a></li>
                            <li><a href="#">Hunger Education Sources</a></li>
                            <li><a href="#">Press Room</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">What We Do</a>
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="#">Community Meal Program</a></li>
                            <li><a href="#">Other Food Support</a></li>
                            <li><a href="#">More Than Food</a></li>
                            <li><a href="#">Fresh Produce Preservation Project</a></li>
                            <li><a href="#">Speakers Bureau</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Ways To Help</a>
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="#">Donate Money</a></li>
                            <li><a href="#">Volunteer</a></li>
                            <li><a href="#">Host a Fundraiser</a></li>
                            <li><a href="#">In-Kind Donations</a></li>
                            <li><a href="#">Great Examples of Giving</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Emergency Response COVID-19</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Newsletter</a></li>
                <li><a href="#" class="donate">Donate</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        <script src="~/Content/Navigation.js"></script>

        <div class="container body-content">
            @RenderBody()

                </div>
            </div>
        </div>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="footerbackground">
        <div class="container FooterText">
            <div class="row">
                <div class="col-lg-10 col-sm-offset-1 ">
                    <div class="col-lg-10 col-sm-offset-1 ">
                        <div class="row">
                            <br />
                            <br />
                            <br />
                            <div class="col-sm-2 col-sm-offset-1" align="right">
                                <a id="footerlink" href="http://www.thegatheringwis.org/contact">CONTACT US</a>
                            </div>
                            <div class="col-sm-1" align="left">
                                <a id="footerlink" href="http://www.thegatheringwis.org/policies">POLICIES</a>
                            </div>
                            <div class="col-sm-3" align="right">
                                <a id="footerlink" href="http://www.thegatheringwis.org/donate">HOW YOU CAN HELP</a>
                            </div>
                            <div class="col-sm-4" align="left">
                                <a id="footerlink" href="http://eepurl.com/ma-3H">SIGN UP FOR OUR NEWSLETTER</a>
                            </div>
                        </div>
                    </div>
                    <div class="row col-lg-12" align="center">
                        <br />
                        <br />
                        THE GATHERING OF SOUTHEAST WISCONSIN ADMINISTRATIVE OFFICE, 804 E JUNEAU AVE, MILWAUKEE, WI, 53202,
                        <br />
                    </div>
                    <br />
                    <div class="row col-sm-8 col-sm-offset-2" align="center">
                        UNITED STATES(414) 272-4122 SOULFOOD@THEGATHERINGWIS.ORG
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-sm-offset-1 ">
                    <div class="col-lg-10 col-sm-offset-1 ">
                        <br />
                        <nav class="social">
                            <div class="col-sm-4 col-sm-offset-4" align="center">
                                <a href="https://www.facebook.com/thegatheringcommunitymeals">
                                   <i class="fa fa-facebook" style="color:black;font-size:20px"></i>
                                </a>
                                <a href="http://www.instagram.com/thegatheringcommunitymeals">
                                   <i class="fa fa-instagram" style="color:black;font-size:20px"></i>
                                </a>
                                <a href="https://www.youtube.com/user/TheGatheringWIS">
                                   <i class="fa fa-youtube-play" style="color:black;font-size:20px"></i>
                                </a>
                                <a href="https://twitter.com/thegathering_wi">
                                   <i class="fa fa-twitter" style="color:black;font-size:20px"></i>
                                </a>
                                <a href="https://www.linkedin.com/company/the-gathering-of-southeast-wi-inc">
                                    <i class="fa fa-linkedin" style="color:black;font-size:20px"></i>
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
                <br />
                <br />
                <br />
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
