<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>


</head>

<body>

    <div class="navbar navbar-default background">
        <div class="navbar-header">
            <div class="background">
                <a class="navbar-brand" href="#"><img src="~/Content/The_Gathering_F2_Full_Color_White.png" width="150px" height="90px" /></a>

                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse navbar-responsive-collapse" float: right;>

                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse navbar-responsive-collapse" float: right;>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">About Us<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Mission Statement</a></li>
                                <li><a href="#">FAQS</a></li>
                                <li><a href="#">Community Partners</a></li>
                                <li><a href="#">Donors</a></li>
                                <li><a href="#">Board / Staff</a></li>
                                <li><a href="#">Financial Information</a></li>
                                <li><a href="#">Hunger Education Sources</a></li>
                                <li><a href="#">Press Room</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">What We Do<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Community Meal Program</a></li>
                                <li><a href="#">Other Food Support</a></li>
                                <li><a href="#">More Than Food</a></li>
                                <li><a href="#">Fresh Produce Preservation Project</a></li>
                                <li><a href="#">Speakers Bureau</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Ways To Help<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Donate Money</a></li>
                                <li><a href="#">Volunteer</a></li>
                                <li><a href="#">Host A Fundraiser</a></li>
                                <li><a href="#">In-Kind Donations</a></li>
                                <li><a href="#">Great Examples Of Giving</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Emergency Response COVID-19</a>
                        </li>
                        <li>
                            <a href="#">Events</a>
                        </li>
                        <li>
                            <a href="#">Newsletter</a>
                        </li>
                        <li>
                            <a href="https://google.com" class="btn btn-primary">Donate</a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="footerbackground">
        <div class="container FooterText">
            <div class="row">
                <div class="col-lg-10 col-sm-offset-1 ">
                    <div class="col-lg-10 col-sm-offset-1 ">
                        <div class="row" align="center">
                            <br />
                            <br />
                            <br />
                            <div class="col-sm-2">
                                CONTACT US
                            </div>
                            <div class="col-sm-2">
                                POLICIES
                            </div>
                            <div class="col-sm-3">
                                HOW YOU CAN HELP
                            </div>
                            <div class="col-sm-5">
                                SIGN UP FOR OUR NEWSLETTER
                            </div>
                        </div>
                    </div>
                    <div class="row col-lg-12" align="center">
                        <br />
                        <br />
                        THE GATHERING OF SOUTHEAST WISCONSIN ADMINISTRATIVE OFFICE, 804 E JUNEAU AVE, MILWAUKEE, WI, 53202,
                        <br />
                    </div>
                    <br />
                    <div class="row col-sm-8 col-sm-offset-2" align="center">
                        UNITED STATES(414) 272-4122 SOULFOOD@THEGATHERINGWIS.ORG
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-sm-offset-1 ">
                    <div class="col-lg-10 col-sm-offset-1 ">
                        <br />
                        <nav class="social">
                            <div class="col-sm-4 col-sm-offset-4" align="center">
                                <a href="https://www.facebook.com/thegatheringcommunitymeals">
                                    <img src="~/Content/black f.png" width="25px" height="25px" />
                                </a>
                                <a href="http://www.instagram.com/thegatheringcommunitymeals">
                                    <img src="~/Content/insta.png" width="25px" height="25px" />
                                </a>
                                <a href="https://www.youtube.com/user/TheGatheringWIS">
                                    <img src="~/Content/black f.png" width="25px" height="25px" />
                                </a>
                                <a href="https://twitter.com/thegathering_wi">
                                    <img src="~/Content/black f.png" width="25px" height="25px" />
                                </a>
                                <a href="https://www.linkedin.com/company/the-gathering-of-southeast-wi-inc">
                                    <img src="~/Content/black f.png" width="25px" height="25px" />
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
                <br />
                <br />
                <br />
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
