@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    if (User.IsInRole("volunteer"))
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {

            String message = "Hello " + @ViewBag.UserFriendlyName + "!";
        <li>@Html.ActionLink("Calendar", "VolunteerCalendar", "VolunteerEvent", null, null)</li>
        <li>@Html.ActionLink("My Events", "UserEventsList", "Volunteer", null, null)</li>
        <li>@Html.ActionLink("Leadership", "LeadershipInfo", "Volunteer", null, null)</li>
        <li><a href="https://secure.qgiv.com/for/tgoswi/" class="donateButton">Donate</a></li>
            @Html.AntiForgeryToken()
            <li> @Html.ActionLink(message, "Edit", "Volunteer")</li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        }
    }
    else if (User.IsInRole("groupleader"))
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            String message = "Hello " + @ViewBag.UserFriendlyName + "!";
            <li>@Html.ActionLink("Calendar", "Calendar", "VolunteerEvent")</li>
            <li>@Html.ActionLink("My Events", "GroupEventsList", "VolunteerGroup")</li>
            <li><a href="https://secure.qgiv.com/for/tgoswi/" class="donateButton">Donate</a></li>
            @Html.AntiForgeryToken()
            <li> @Html.ActionLink(message, "Edit", "VolunteerGroup")</li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        }
    }
}
else
{
    <li><a href="https://secure.qgiv.com/for/tgoswi/" class="donateButton">Donate</a></li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("Register as a Group Leader", "GroupRegister", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Register as an Individual", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

}
