@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))

    {
        String message = "Hello " + @ViewBag.UserFriendlyName + "!";
    
        <li><a href="https://localhost:44367/VolunteerEvent/VolunteerCalendar">Calendar</a></li>
        <li><a href="https://localhost:44367/Volunteer/UserEventsList">My Events</a></li>
        <li><a href="https://localhost:44367/Volunteer/LeadershipInfo">Leadership</a></li>
        <li><a href="#" class="donateButton">Donate</a></li>
        @Html.AntiForgeryToken()
        <li> @Html.ActionLink(message, "Edit", "Volunteer")</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
    
    }
}
else
{
    <li><a href="#" class="donateButton">Donate</a></li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

}
