@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{

    {
        @Html.AntiForgeryToken()
        String message = "Hello " + @ViewBag.UserFriendlyName + "!";

        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        <li>
            @Html.ActionLink(message, "Manage", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </li>
    }
}
else
{

    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

}
