@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))

    {
        String message = "Hello " + @ViewBag.UserFriendlyName + "!";
        <li><a href="~/Views/VolunteerEvent/Calendar.cshtml">~/Views/VolunteerEvent/Calendar.cshtml">Dashboard</a></li>
        <li><a href="#">My Events</a></li>
        <li><a href="#">Leadership</a></li>
        <li><a href="#" class="donateButton">Donate</a></li>
        @Html.AntiForgeryToken()
        <li> @Html.ActionLink(message, "Index", "Manage", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        <li><a href=""><i class="fa fa-gear setting-icon" style="font-size: 21px"></i></a></li>
    }
}
else
{
    <li><a href="#" class="donateButton">Donate</a></li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

}
