@model TheGathering.Web.ViewModels.Account.AccountRegistrationViewModel
@{
    ViewBag.Title = "AdminRegister";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div row>
        <div class="col-sm-6">
            <br />
            <h1>Create a new Volunteer</h1>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <br />
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
        </div>
    </div>
    <hr />


    <div class="row">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="col-sm-5">
            <div class="form-group">
                <div class="col-md-9">
                    <div class="form-group">
                        <label class="elfont" for="FirstName" style="font-weight:normal">Name</label>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <div class="col-md-9">
                    <div class="form-group">
                        <label class="elfont" for="LastName">Name</label>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                        <p>Last Name</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <h2>Email</h2>
        </div>
        <div class="col-sm-7">
            <h2>Phone Number</h2>
        </div>
    </div>
    <div class="row">
        <div class=col-sm-5>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    <p>_________@@____.___</p>
                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class=col-sm-5>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    <p>### - ### - ####</p>
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Password</h2>
        </div>
    </div>
    <div class="row">
        <h3 style="padding-left:10px"><b>The Password Must Include:</b></h3>
    </div>
    <ul class="row" style="padding-left:30px">
        <p>
        <li>A Capitol Letter</li>
        <li>A Number</li>
        <li>A Special Character</li>
        </p>
    </ul>
    <br />
    <div class="row">
        <div class=col-sm-5>
            <div class="form-group">
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    <p>Password</p>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    <p>Confirm Password</p>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Birthday</h2>
        </div>
    </div>
    <div class="row">
        <div class=col-sm-5>
            <div class="form-group">
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                    <p>mm / dd / yyyy</p>
                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group form-check">
                @Html.EditorFor(model => model.SignUpForNewsLetter)
                @Html.ValidationMessageFor(model => model.SignUpForNewsLetter, "", new { @class = "text-danger" })
                <label class="form-check-label"><p>I Would Like To Recieve The Gathering Newsletter</p></label>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
