@model TheGathering.Web.ViewModels.Account.AccountRegistrationViewModel
@{
    ViewBag.Title = "AdminRegister";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>Create a new Volunteer</h2>
    <hr />

    <div class="row">
        <div class="col-sm-3 @*MinorHeadingNormal*@"><h2>Volunteer Name</h2></div>
        <div class="col-sm-1 @*MinorHeadingRed*@"><h2>*</h2></div>
    </div>
    <div class="row">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="col-sm-5">
            <div class="form-group">

                <div class="col-md-9">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @*<div class="BodyTextMediumNormal">*@<p>First Name</p>@*</div>*@
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">

                <div class="col-md-9">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @*<div class="BodyTextMediumNormal">*@<p>Last Name</p>@*</div>*@
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-3 @*MinorHeadingNormal*@"><h2>Volunteer Email</h2></div>
        <div class="col-sm-1 @*MinorHeadingRed*@"><h2>*</h2></div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @*<div class="BodyTextMediumNormal">*@<p>_________@@____.com</p>@*</div>*@
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 @*MinorHeadingNormal*@"><h2>Volunteer Password</h2></div>
        <div class="col-sm-1 @*MinorHeadingRed*@"><h2>*</h2></div>
    </div>
    <div class="row">
        <div class=col-sm-5>
            <div class="form-group">

                <div class="col-md-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @*<div class="BodyTextMediumNormal">*@<p>Volunteer Password</p>@*</div>*@
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">

                <div class="col-md-8">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @*<div class="BodyTextMediumNormal">*@<p>Confirm Password</p>@*</div>*@
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 @*MinorHeadingNormal*@"><h2>Volunteer Birthday</h2></div>
        <div class="form-group">
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
            @*<div class="BodyTextMediumNormal">*@<p>mm / dd / yyyy</p>@*</div>*@
            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 @*MinorHeadingNormal*@"><h2>Volunteer Phone Number</h2></div>
        <div class="form-group">
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @*<div class="BodyTextMediumNormal">*@<p>(###) - ### - ####</p>@*</div>*@
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>




    <div class="form-group">
        <div class="col-md-2 @*MinorHeadingNormal*@">Interest In leadership</div>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.InterestInLeadership)
                @Html.ValidationMessageFor(model => model.InterestInLeadership, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 @*MinorHeadingNormal*@">Sign Up For News Letter</div>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.SignUpForNewsLetter)
                @Html.ValidationMessageFor(model => model.SignUpForNewsLetter, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
