@model TheGathering.Web.ViewModels.Account.AccountRegistrationViewModel
@{
    ViewBag.Title = "AdminRegister";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>Create a new Volunteer</h2>
    <hr />

    <div class="row">
        <h1>Volunteer Name</h1>

    </div>
    <div class="row">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="col-sm-5">
            <div class="form-group">
                <div class="col-md-9">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    <p>First Name</p>
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <div class="col-md-9">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    <p>Last Name</p>
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h1>Volunteer Email</h1>

    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            <p>_________@@____.com</p>
        </div>
    </div>

    <div class="row">
        <h1>Volunteer Password</h1>
    </div>
    <div class="row">
        <div class=col-sm-5>
            <div class="form-group">
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    <p>Volunteer Password</p>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    <p>Confirm Password</p>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h1>Volunteer Birthday</h1>
        <div class="form-group">
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
            <p>mm / dd / yyyy</p>
            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <h1>Volunteer Phone Number</h1>
        <div class="form-group">
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            <p>(###) - ### - ####</p>
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    <div class="form-group form-check">
        @Html.EditorFor(model => model.SignUpForNewsLetter)
        @Html.ValidationMessageFor(model => model.SignUpForNewsLetter, "", new { @class = "text-danger" })
        <label class="form-check-label"><p>Would They Like To Recieve The Gathering Newsletter</p></label>
    </div>
    <hr />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
