@model TheGathering.Web.ViewModels.Account.AccountRegistrationViewModel

@{
    ViewBag.Title = "Register";
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3>Create a new account</h3>

    <hr />

    <div class="row">
        <h1>Name</h1>
    </div>
    <div class="row">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="col-sm-5">
            <div class="form-group">
                <div class="col-md-9">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    <p>First Name</p>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <div class="col-md-9">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    <p>Last Name</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h1>Email</h1>
    </div>
    <div class="row">
        <div class=col-sm-5>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    <p>_________@@____.___</p>
                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h1>Password</h1>
    </div>
    <div class="row">
        <h3>The Password Must Include:</h3>
    </div>
    <ul class="row">
        <p>
        <li text-indent="50px">A Capitol Letter</li>
        <li>A Number</li>
        <li>A Special Character</li>
        </p>
    </ul>
    <br />

    <div text - indent="500px";>
        fgfgfgf
       
        
    </div>

    <div class="row">
        <div class=col-sm-5>
            <div class="form-group">
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    <p>Password</p>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    <p>Confirm Password</p>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h1>Birthday</h1>
    </div>
    <div class="row">
        <div class=col-sm-5>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                    <p>mm / dd / yyyy</p>
                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h1>Phone Number</h1>
    </div>
    <div class="row">
        <div class=col-sm-5>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    <p>### - ### - ####</p>
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group form-check">
        @Html.EditorFor(model => model.SignUpForNewsLetter)
        @Html.ValidationMessageFor(model => model.SignUpForNewsLetter, "", new { @class = "text-danger" })
        <label class="form-check-label"><p>I Would Like To Recieve The Gathering Newsletter</p></label>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
