@model TheGathering.Web.ViewModels.VolunteerModels.SignUpEventViewModel
@{
    ViewBag.Title = "SignUpEvent";
}

<h2>Cancel this Event</h2>

<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.VolunteerEvent.StartingShiftTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerEvent.StartingShiftTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VolunteerEvent.EndingShiftTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerEvent.EndingShiftTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VolunteerEvent.MealSite.AddressLine1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerEvent.MealSite.AddressLine1)
        </dd>
    </dl>
    <p>
        Are you sure you would like to cancel this volunteer event?
    </p>
	<p>
		@Html.ActionLink("Yes", "EventUnregistered", new { volunteerId = Model.Volunteer.Id, eventId = Model.VolunteerEvent.Id }, new { @class = "btn btn-large btn-danger" })
		@Html.ActionLink("No", "Details", "Volunteer", new { id = Model.Volunteer.Id }, new { @class = "btn btn-large btn-primary" })
	</p>
</div>