@model TheGathering.Web.ViewModels.VolunteerModels.VolunteerViewModel

@{
    ViewBag.Title = "Details";
}

<div class="row">
	<div class="col-sm-12">
		<h1>@Model.FirstName @Model.LastName</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.FirstName)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.FirstName)																																																																																	<!-- Why do I hear boss music? -->
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.LastName)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.LastName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Birthday)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Birthday)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Email)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Email)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.PhoneNumber)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.PhoneNumber)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.InterestInLeadership)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.InterestInLeadership)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SignUpForNewsLetter)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.SignUpForNewsLetter)
			</dd>
		</dl>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h3>Upcoming Events</h3>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<ul class="list-group">
			@foreach (var volunteerEvent in Model.VolunteerEvents)
			{
			<li class="list-group-item">
				<h4 class="list-group-item-heading">@volunteerEvent.MealSite.Name</h4>
				@Html.ActionLink("Cancel", "CancelSignUpEvent", "Volunteer", new { eventId = volunteerEvent.Id, userId = Model.ApplicationUserId }, new { @class = "btn btn-danger btn-large btn-margin", style = "float: right;" })
				@Html.ActionLink("Details", "Details", "VolunteerEvent", new { id = volunteerEvent.Id }, new { @class = "btn btn-primary btn-large btn-margin", style = "float: right;" })
				<p class="list-group-item-text">@volunteerEvent.MealSite.AddressLine1</p>
				<p class="list-group-item-text">@volunteerEvent.StartingShiftTime.ToShortTimeString() - @volunteerEvent.EndingShiftTime.ToShortTimeString()</p>
				<p class="list-group-item-text">@volunteerEvent.StartingShiftTime.ToShortDateString()</p>
			</li>
			}
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		@Html.ActionLink("View All Events", "UserEventsList", "Volunteer", null, new { @class = "btn btn-primary btn-large btn-margin" })
		@Html.ActionLink("Edit Volunteer", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-large btn-margin" })
		@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-large btn-margin" })
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<p>
			
		</p>
	</div>
</div>
