@model TheGathering.Web.Models.Volunteer

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <h1>My Profile</h1>

        <hr />

        <div class="row">
            <div class="form-group">
                <label class="col-sm-1 h2font">Name</label>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="form-group">
                <label class="col-sm-6 @*control-label*@, h2font">Phone Number</label>
                <label class="col-sm-5 @*control-label*@, h2font">Birthday</label>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "###-###-####" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", placeholder = "mm / dd / yyyy" } })
                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="form-group form-check" style="padding-left:15px">
                @Html.EditorFor(model => model.SignUpForNewsLetter)
                @Html.ValidationMessageFor(model => model.SignUpForNewsLetter, "", new { @class = "text-danger" })
                <label class="form-check-label pfont">I Would Like To Recieve The Gathering Newsletter</label>
            </div>
        </div>
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.InterestInLeadership)
        @Html.HiddenFor(model => model.VolunteerVolunteerEvents)
        @Html.HiddenFor(model => model.ApplicationUserId)

        <p>
            @Html.ActionLink("Change your password?", "ForgotPassword", "Account")
        </p>

        <div class="row">
            <div class="col-sm-1">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
            <div class="col-sm-1">
                @Html.ActionLink("Back to Calendar", "VolunteerCalendar", "VolunteerEvent", null, new { @class = "btn btn-primary" })
            </div>
        </div>
        <h5>
            Monthly Frequency: @ViewBag.monthlyFrequency events
        </h5>
        <h5>
            Time with the Gathering: @ViewBag.timeWithGathering days
        </h5>
        <h5>
            Total Volunteer Hours: @ViewBag.totalHours hours and @ViewBag.totalMinutes minutes
        </h5>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}