@model TheGathering.Web.Models.Volunteer

@{
    ViewBag.Title = "Edit";
}

    


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div>
        <h1>Edit</h1>
        <h3>Edit a Volunteer</h3>
        <hr />
    </div>
    <br />
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-2 h2font col-form-label">First Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-2 h2font col-form-label">Last Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-2 h2font col-form-label">Birthday</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-2 h2font col-form-label">Email</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-2 h2font col-form-label">Phone Number</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div>
        <div class="form-group form-check">
            @Html.EditorFor(model => model.InterestInLeadership)
            @Html.ValidationMessageFor(model => model.InterestInLeadership, "", new { @class = "text-danger" })
            <label class="form-check-label pfont">I Am Interested In Leadership</label>
        </div>
    </div>
    <div>
        <div class="form-group form-check">
            @Html.EditorFor(model => model.SignUpForNewsLetter)
            @Html.ValidationMessageFor(model => model.SignUpForNewsLetter, "", new { @class = "text-danger" })
            <label class="form-check-label pfont">I Would Like To Recieve The Gathering Newsletter</label>
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save" />
        <br />
        <br />
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <br />
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}