@model TheGathering.Web.ViewModels.VolunteerModels.SignUpEventViewModel
@{
    ViewBag.Title = "SignUpEvent";
}

<h2>Sign Up for Event</h2>

<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.VolunteerEvent.StartingShiftTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerEvent.StartingShiftTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VolunteerEvent.EndingShiftTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerEvent.EndingShiftTime)
        </dd>

        <dt>
            Meal Site
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VolunteerEvent.MealSite.Name)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.VolunteerEvent.MealSite.AddressLine1)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.VolunteerEvent.MealSite.City), @Html.DisplayFor(model => model.VolunteerEvent.MealSite.State) @Html.DisplayFor(model => model.VolunteerEvent.MealSite.Zipcode)
        </dd>
    </dl>
    <p>
        Are you sure you would like to sign up for this volunteer event?
    </p>

        @Html.ActionLink("Yes", "EventRegistered", new { volunteerId = Model.Volunteer.Id, eventId = Model.VolunteerEvent.Id }, new { @class = "btn btn-primary" })

        @Html.ActionLink("No", "Details", "VolunteerEvent", new { id = Model.VolunteerEvent.Id }, new { @class = "btn btn-primary" })

</div>