@model TheGathering.Web.ViewModels.VolunteerModels.UserEventsListViewModel

@{
    ViewBag.Title = "UserEventsList";
}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

@if (Model.CurrentEvents.Count > 0)
{
    <div class="row">
        <div class="col-sm-6">
            <h2>Current Events</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.VolunteerEvents[0].StartingShiftTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VolunteerEvents[0].EndingShiftTime)
                    </th>

                    <th>
                        Meal Site
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VolunteerEvents[0].Description)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.CurrentEvents)
                {
                    <tr>
                        <td>
                            @item.StartingShiftTime.ToString("g")
                        </td>
                        <td>
                            @item.EndingShiftTime.ToString("g")
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.MealSite.Name)<br />
                            @Html.DisplayFor(modelItem => item.MealSite.AddressLine1)<br />
                            @Html.DisplayFor(modelItem => item.MealSite.City), @Html.DisplayFor(modelItem => item.MealSite.State) @Html.DisplayFor(modelItem => item.MealSite.Zipcode)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Cancel Signup", "RemoveVolunteerFromEvent", "VolunteerEvent", new { eventId = item.Id, volunteerId = Model.Volunteer.Id }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}

else
{
    <h3>You are not currently signed up for any events</h3>
}

@if (Model.PastEvents.Count > 0)
{
    <div class="row">
        <div class="col-sm-12">
            <h2>Past Events</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.VolunteerEvents[0].StartingShiftTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VolunteerEvents[0].EndingShiftTime)
                    </th>

                    <th>
                        Meal Site
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VolunteerEvents[0].Description)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.PastEvents)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartingShiftTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndingShiftTime)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.MealSite.Name)<br />
                            @Html.DisplayFor(modelItem => item.MealSite.AddressLine1)<br />
                            @Html.DisplayFor(modelItem => item.MealSite.City), @Html.DisplayFor(modelItem => item.MealSite.State) @Html.DisplayFor(modelItem => item.MealSite.Zipcode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "VolunteerDetails", "VolunteerEvent", new { id = item.Id }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}

<h5font>
    Monthly Frequency: @ViewBag.monthlyFrequency events
</h5font>
<a class="no-print" href="#" data-toggle="tooltip" title="Monthly Frequency of a volunteer shows the amount of times they volunteer per month. In order for the number to be greater than 0, they must have been with The Gathering for at least a month.">
    <img height="16" src="~/Content/question-mark-icon-24x24.png" />
</a>
<h5>
    Time with The Gathering: @ViewBag.timeWithGathering days
</h5>
<a></a>
<h5>
    Total Volunteer Hours: @ViewBag.totalHours hours and @ViewBag.totalMinutes minutes
</h5>

<div class="row">
    <div class="col-sm-6">
        @Html.ActionLink("Go to Calendar", "VolunteerCalendar", "VolunteerEvent", null, new { @class = "btn btn-primary" })
    </div>
</div>