@model TheGathering.Web.ViewModels.VolunteerGroup.GroupNumberEventsListViewModel
@{
    ViewBag.Title = "GroupEventsList";
}

<h2>GroupEventsList</h2>

<p>
    @Html.ActionLink("Calendar", "Calendar", "VolunteerEvent")
</p>
<table class="table">
    <tr>
        <th>
            Shift Start Time
        </th>
        <th>
            Shift Ending time
        </th>
        <th>
            Number of People going from your Group
        </th>
        <th>
            Meal Site Location
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.VolunteerGroupEvents)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerEvent.StartingShiftTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerEvent.EndingShiftTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfGroupMembersSignedUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerEvent.MealSite.AddressLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerEvent.Description)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "VolunteerEvent", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
