@model TheGathering.Web.Models.Volunteer
@{
    ViewBag.Title = "ChangeAccountActivation";
}

@if (Model.IsAccountActive)
{
    <h2>Deactivate Account?</h2>
}

else
{
    <h2>Activate Account?</h2>
}

@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Volunteer</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 detailsOffset">
            @Html.DisplayFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 detailsOffset">
            @Html.DisplayFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 detailsOffset">
            @Html.DisplayFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", @type = "date", @Value = Model.Birthday.ToString("yyyy-MM-dd") } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 detailsOffset">
            @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 detailsOffset">
            @Html.DisplayFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.InterestInLeadership, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 detailsOffset">
            @Html.DisplayFor(model => model.InterestInLeadership, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SignUpForNewsLetter, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 detailsOffset">
            @Html.DisplayFor(model => model.SignUpForNewsLetter, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>
<p>
    @if (Model.IsAccountActive)
    {
        @Html.ActionLink("Deactivate", "AccountActivationChange", new { id = Model.Id, active = !Model.IsAccountActive }, new { @class = "btn btn-primary" })
    }

    else
    {
        @Html.ActionLink("Activate", "AccountActivationChange", new { id = Model.Id, active = !Model.IsAccountActive }, new { @class = "btn btn-primary" })
    }
    @Html.ActionLink("Cancel", "VolunteerDetails", new { id = Model.Id }, new { @class = "btn btn-primary" })
</p>