@model TheGathering.Web.Models.Volunteer
@{
    ViewBag.Title = "ChangeAccountActivation";
}

@if (Model.IsAccountActive)
{
    <h2>Deactivate Account?</h2>
}

else
{
    <h2>Activate Account?</h2>
}

@Html.AntiForgeryToken()

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestInLeadership)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestInLeadership)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignUpForNewsLetter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignUpForNewsLetter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAccountActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAccountActive)
        </dd>
    </dl>
</div>

<p>
    @if (Model.IsAccountActive)
    {
        @Html.ActionLink("Deactivate", "AccountActivationChange", new { id = Model.Id, active = !Model.IsAccountActive }, new { @class = "btn btn-default" })
    }

    else
    {
        @Html.ActionLink("Activate", "AccountActivationChange", new { id = Model.Id, active = !Model.IsAccountActive }, new { @class = "btn btn-default" })
    }
</p>