@model TheGathering.Web.Models.VolunteerGroupLeader

@{
    ViewBag.Title = "GroupLeaderDetails";
}

<h2>GroupLeaderDetails</h2>


<div>
    <h4>VolunteerGroupLeader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LeaderFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaderFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaderLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaderLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaderBirthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaderBirthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaderEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaderEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaderPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaderPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignUpForNewsLetter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignUpForNewsLetter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalGroupMembers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalGroupMembers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAccountActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAccountActive)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Send Reset Password Link", "GroupLeaderResetUserPass", new { groupLeaderID = Model.Id }, new { @class = "btn btn-default" })
    @if (Model.IsAccountActive)
    {
        @Html.ActionLink("Deactivate Account", "ChangeAccountActivationConfirmation", new { id = Model.Id }, new { @class = "btn btn-default" })
    }
    else
    {
        @Html.ActionLink("Activate Account", "ChangeAccountActivationConfirmation", new { id = Model.Id }, new { @class = "btn btn-default" })
    }
    @Html.ActionLink("Edit", "GroupLeaderEdit", new { id = Model.Id }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Back to List", "ManageGroupLeaders", new { @class = "btn btn-default" })
</p>
