@model TheGathering.Web.ViewModels.Account.GroupRegistrationViewModel

@{
    ViewBag.Title = "GroupLeaderCreate";
}

<h2>GroupLeaderCreate</h2>


@using (Html.BeginForm("GroupLeaderCreate", "AdminPortal", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
@Html.AntiForgeryToken()
<h4>Create a new account</h4>
<hr />

<div class="row">
    <div class="col-sm-1 @*MinorHeadingNormal*@"><h2> Group Leader Name</h2></div>
</div>
<div class="row">
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="col-sm-5">
        <div class="form-group">
            <div class="col-md-9">
                @Html.EditorFor(model => model.LeaderFirstName, new { htmlAttributes = new { @class = "form-control" } })
                <div class="BodyTextMediumNormal"><p>Group Leader First Name</p></div>
                @Html.ValidationMessageFor(model => model.LeaderFirstName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="form-group">

            <div class="col-md-9">
                @Html.EditorFor(model => model.LeaderLastName, new { htmlAttributes = new { @class = "form-control" } })
                <div class="BodyTextMediumNormal"><p>Group Leader Last Name</p></div>
                @Html.ValidationMessageFor(model => model.LeaderLastName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<p hidden>@Html.PasswordFor(m => m.Password, new { value = ViewBag.randomPassword })
@Html.PasswordFor(m => m.ConfirmPassword, new { value = ViewBag.randomPassword })</p>

<div class="row">
    <div class="col-sm-1 @*MinorHeadingNormal*@"><h2>Group Leader Email</h2></div>
</div>

<div class="form-group">

    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        <div class="BodyTextMediumNormal"><p>_________@@____.___</p></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2 @*MinorHeadingNormal*@"><h2>Group Leader Birthday</h2></div>
</div>
<div class="row">
    <div class=col-sm-5>
        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.LeaderBirthday, new { htmlAttributes = new { @class = "form-control" } })
                <div class="BodyTextMediumNormal"><p>mm / dd / yyyy</p></div>
                @Html.ValidationMessageFor(model => model.LeaderBirthday, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 @*MinorHeadingNormal*@"><h2>Group Leader Phone Number</h2></div>
</div>
<div class="row">
    <div class=col-sm-5>
        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.LeaderPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                <div class="BodyTextMediumNormal"><p>### - ### - ####</p></div>
                @Html.ValidationMessageFor(model => model.LeaderPhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class=col-sm-5>
        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control" } })
                <div class="BodyTextMediumNormal"><p>Group Name</p></div>
                @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class=col-sm-5>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalGroupMembers, new { htmlAttributes = new { @class = "form-control" } })
                <div class="BodyTextMediumNormal"><p>Total Group Members</p></div>
                @Html.ValidationMessageFor(model => model.TotalGroupMembers, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<div class="form-group">

    <div class="form-group form-check">

        @Html.EditorFor(model => model.SignUpForNewsLetter)
        @Html.ValidationMessageFor(model => model.SignUpForNewsLetter, "", new { @class = "text-danger" })
        <label class="form-check-label BodyTextMediumNormal">I would like to receive The Gathering Newsletter</label>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
}