@model IEnumerable<TheGathering.Web.Models.VolunteerGroupLeader>

@{
    ViewBag.Title = "ManageGroupLeaders";
}

<h1>Manage Group Leaders</h1>
<p>
    @Html.ActionLink("Register New Group Leader", "GroupLeaderCreate", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>

        <th>
            Last Name
        </th>

        <th>
            Date of Birth
        </th>

        <th>
            Email
        </th>

        <th>
            Phone Number
        </th>

        <th>
            Group Name
        </th>

        <th>
            Sign Up For Newsletter
        </th>

        <th>
            Account Active
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeaderFirstName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LeaderLastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LeaderBirthday)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LeaderEmail)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LeaderPhoneNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SignUpForNewsLetter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAccountActive)
            </td>

            <td>
                @Html.ActionLink("Edit", "GroupLeaderEdit", new { id = item.Id }) |
                @Html.ActionLink("Details", "GroupLeaderDetails", new { id = item.Id })
            </td>
        </tr>
    }

</table>
