@model TheGathering.Web.ViewModels.SortedEventsViewModel

@{
    ViewBag.Title = "ManageEvents";
}

<h1>Manage Events</h1>

<p>
    @Html.ActionLink("Create New", "Create", "VolunteerEvent", null, new { @class = "btn btn-primary" })
</p>

<p>
    Sort By:
    @Html.DropDownList("Sort", Model.SortItems, new { @class = "form-control", @onchange = @"sortChange(this.value);" })
</p>

<script>
    function sortChange(val) {
        window.location.href = "?requestedSort=" + val;
    }
</script>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Shift Start Time")
        </th>
        <th>
            @Html.DisplayName("Shift End Time")
        </th>
        <th>
            @Html.DisplayName("Open Slots")
        </th>
        <th>
            @Html.DisplayName("Meal Site")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th></th>
    </tr>

    @foreach (TheGathering.Web.Models.VolunteerEvent item in Model.Events)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartingShiftTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndingShiftTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenSlots)
            </td>
            <td>
                @(item.MealSite.AddressLine1 + ", " + item.MealSite.City + ", " + item.MealSite.State)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "VolunteerEvent", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "EventDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", "VolunteerEvent", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>