@model IEnumerable<TheGathering.Web.Models.MealSite>

@{
    ViewBag.Title = "MealSites";
}

<div class="container-fluid">
    <h2>Manage Meal Sites</h2>

    <p>
        @Html.ActionLink("New Meal Site", "Create", null, new { @class = "btn btn-default" })
    </p>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <table class="table table-center">
                    <tr>
                        <th>
                            Address
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MealServed)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AddressLine1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MealServed)
                            <td>
                                @Html.ActionLink("Edit", "Edit", "MealSite", new { id = item.Id }) |
                                @Html.ActionLink("Details", "MealSiteDetails", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", "MealSite", new { id = item.Id })
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

<script>
	@foreach (var item in Model)
	{
		@Html.Raw("locationAddresses.push('" + item.AddressLine1 + item.AddressLine2 + ", " + item.City + ", " + item.State + "');locationIds.push(" + item.Id + ");")
	}
</script>