@model TheGathering.Web.Models.MealSite
@{
	ViewBag.Title = "MealSiteDetails";
}

<script type="text/javascript" src="~/Scripts/Google Maps/BMaps2.js"></script>

<h2>Details</h2>
<di class="row">
    <di class="col-sm-6">
        <div class="panel panel-default">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AddressLine1)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.AddressLine1)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AddressLine2)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.AddressLine2)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.City)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.State)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Zipcode)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Zipcode)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CrossStreet1)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.CrossStreet1)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CrossStreet2)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.CrossStreet2)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MealServed)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.MealServed)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DaysServed)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.DaysServed)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MaximumGuestsServed)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.MaximumGuestsServed)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MinimumGuestsServed)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.MinimumGuestsServed)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.StartTime)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.EndTime)
                    </td>
                </tr>
            </table>
        </div>
    </di>
    <div class="col-sm-6">
        <div id="myMap" style="position:relative;width:600px;height:400px;"></div>
        
        <a class="btn btn-grey btn-margin" target="_blank" rel="noopener noreferrer" href="https://www.google.com/maps/dir/?api=1&destination=@(Model.AddressLine1)+@(Model.AddressLine2),+@(Model.City),+@(Model.State),+@(Model.Zipcode)">Directions (Google Maps)</a>
        <a class="btn btn-grey" href="/AdminPortal/">Back To Admin Portal</a>


        <script>
            locationAddresses = ['@(Model.AddressLine1+Model.AddressLine2)'];
        </script>
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=init&key=Au02QBwR7dBBUZiE9NK_er_E7iVbAFbx9EsiHxA3xLOTK6ry7J-Okb9DqZEW98qb' async defer></script>
    </div>
</di>