@model  TheGathering.Web.Models.VolunteerEventViewModel
@{
    ViewBag.Title = "ViewVolunteers";
}

<h2>Volunteers For Event</h2>

<p>
    @Html.ActionLink("Back to Event Details", "EventDetails", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Add Volunteers to Event", "AddVolunteers", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to Portal Home", "Index", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("First Name")
        </th>

        <th>
            @Html.DisplayName("Last Name")
        </th>

        <th>
            @Html.DisplayName("Birthday")
        </th>

        <th>
            @Html.DisplayName("Emails")
        </th>

        <th>
            @Html.DisplayName("Phone Number")
        </th>

        <th>
            @Html.DisplayName("Interested in Leadership")
        </th>

        <th>
            @Html.DisplayName("Signed up for Newsletter")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.SignedUpVolunteers)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.FirstName)
            </th>

            <th>
                @Html.DisplayFor(modelItem => item.LastName)
            </th>

            <th>
                @Html.DisplayFor(modelItem => item.Birthday)
            </th>

            <th>
                @Html.DisplayFor(modelItem => item.Email)
            </th>

            <th>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </th>

            <th>
                @Html.DisplayFor(modelItem => item.InterestInLeadership)
            </th>

            <th>
                @Html.DisplayFor(modelItem => item.SignUpForNewsLetter)
            </th>

            <th>
                @Html.ActionLink("Details", "VolunteerDetails", new { id = item.Id }, null)
                @Html.ActionLink("Delete", "RemoveVolunteerFromEvent", new { eventID = Model.Id, volunteerID = item.Id })
            </th>
        </tr>

    }

</table>