@model TheGathering.Web.ViewModels.VolunteerModels.SignUpEventViewModel


@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<div>
    <!--

    Displays the Id of event
    <h4 class="minorHeading"> ID = (at symbol)Html.DisplayFor(model => model.VolunteerEvent.Id)</h4>
    -->
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VolunteerEvent.StartingShiftTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerEvent.StartingShiftTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VolunteerEvent.EndingShiftTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerEvent.EndingShiftTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VolunteerEvent.OpenSlots)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerEvent.OpenSlots)
        </dd>

        @*<dt> TODO FIX
                @Html.DisplayNameFor(model => model.MealSite.AddressLine1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MealSite.AddressLine1)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.VolunteerEvent.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerEvent.Description)
        </dd>
    </dl>
</div>


@if (Model.Volunteer != null && Model.VolunteerEvent.StartingShiftTime > DateTime.Now)
{
    bool signedUp = false;
    foreach (var item in Model.Volunteers)
    {
        if (item.Id.Equals(Model.Volunteer.Id))
        {
            signedUp = true;
        }
    }
    if (signedUp)
    {
        @Html.ActionLink("Cancel Signup", "RemoveVolunteerFromEvent", new { eventId = Model.VolunteerEvent.Id, volunteerId = Model.Volunteer.Id }, new { @class = "btn btn-primary" })
    }
    else
    {
        @Html.ActionLink("Sign Up", "SignUpEvent", "Volunteer", new { eventId = Model.VolunteerEvent.Id, userId = Model.Volunteer.ApplicationUserId }, new { @class = "btn btn-primary" })
    }
}
else if (Model.VolunteerEvent.StartingShiftTime > DateTime.Now)
{
    @Html.ActionLink("Login to sign up", "Login", "Account", null, new { @class = "btn btn-primary" })
}
else
{
    <h3>This event has already passed</h3>
}


@Html.ActionLink("Back to Calendar", "Calendar", null, new { @class = "btn btn-primary" })

