@model TheGathering.Web.ViewModels.VolunteerModels.SignUpEventViewModel


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <!--

    Displays the Id of event
    <h4 class="minorHeading"> ID = (at symbol)Html.DisplayFor(model => model.VolunteerEvent.Id)</h4>
    -->
    <hr />
    <div class="generalTextBlack">
        <dl class="dl-horizontal">
            <dt>
                Shift Start Time
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VolunteerEvent.StartingShiftTime)
            </dd>

            <dt>
                Shift End Time
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VolunteerEvent.EndingShiftTime)
            </dd>

            <dt>
                # of Open Slots
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VolunteerEvent.OpenSlots)
            </dd>

            @*<dt> TODO FIX
                   Address
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MealSite.AddressLine1)
                </dd>*@

            <dt>
                Description
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VolunteerEvent.Description)
            </dd>
        </dl>
    </div>
</div>

@Html.ActionLink("Back to Calendar", "Calendar", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
