@model TheGathering.Web.ViewModels.VolunteerModels.SignUpEventViewModel


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <!--

    Displays the Id of event
    <h4 class="minorHeading"> ID = (at symbol)Html.DisplayFor(model => model.VolunteerEvent.Id)</h4>
    -->
    <hr />
    <div class="generalTextBlack">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.VolunteerEvent.StartingShiftTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VolunteerEvent.StartingShiftTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VolunteerEvent.EndingShiftTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VolunteerEvent.EndingShiftTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VolunteerEvent.OpenSlots)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VolunteerEvent.OpenSlots)
            </dd>

            @*<dt> TODO FIX
                  @Html.DisplayNameFor(model => model.MealSite.AddressLine1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MealSite.AddressLine1)
                </dd>*@

            <dt>
               @Html.DisplayNameFor(model => model.VolunteerEvent.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VolunteerEvent.Description)
            </dd>
        </dl>
    </div>
</div>
@Html.ActionLink("Sign Up", "SignUpEvent", "Volunteer", new { volunteerId = Model.Volunteer, eventId = Model.VolunteerEvent.Id }, new { @class = "btn btn-primary" })

@Html.ActionLink("Sign Up for this Event", "SignUpEvent", "Volunteer", new { eventId = Model.VolunteerEvent.Id, userId = Model.Volunteer.ApplicationUserId }, new { @class = "btn btn-success" })
@Html.ActionLink("Back to Calendar", "Calendar", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
